@model ControleDePonto.Models.RegistroPonto

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background:black; color:#ffffff; color:#ffffff;">
            <a type="button" asp-action="Index" class="close" style="color:#ffffff;" data-dismiss="modal">x</a>
            <h4 class="modal-title">Editar Registro</h4>
        </div>
        <form asp-action="Atualizar" id="frmEdicaoPonto" class="form-group col-md-12" method="post">

            <div class="modal-body">
                <input type="hidden" asp-for="CodRegistro" />
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Date"></label>
                        <input class="form-control" type="date" asp-for="Date" />
                    </div>
                    <div class="form-group col-md-8">

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="HoraEntrada" style="box-sizing:inherit;"></label>
                        <input class="form-control" type="time" asp-for="HoraEntrada" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="HoraSaidaAlmoco"></label>
                        <input class="form-control" type="time" asp-for="HoraSaidaAlmoco" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="HoraRetornoAlmoco"></label>
                        <input class="form-control" type="time" asp-for="HoraRetornoAlmoco" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="HoraSaida"></label>
                        <input class="form-control" type="time" asp-for="HoraSaida" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="DescricaoAtividades" style="box-sizing:inherit;"></label>
                        <textarea rows="5" cols="160" class="form-control" asp-for="DescricaoAtividades"></textarea>
                    </div>
                </div>
            </div>

        </form>
        <div class="modal-footer">
            <div class="form-row">
                <div class="form-group col-md-8">

                </div>
                <div class="col-md-4">
                    <input type="submit" value="Salvar" onclick="atualizar();" class="btn btn-primary" style="background:black; color:#ffffff;" />
                    <a asp-action="Index" class="btn btn-primary" style="background:black; color:#ffffff;">Voltar</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function atualizar() {
        document.getElementById("frmEdicaoPonto").submit();
    }
</script>